@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$theme-font: 'Poppins', sans-serif;
$theme-background: linear-gradient(90deg, #11998e 0%,#38ef7d 100% );


body{
  padding: 0;
  margin: 0;
  font-family: $theme-font ;
}